

:root {
    --primary-color:#B8AA83;
    --secondary-color:#666;
    --primary-hover:#ecdaab;
}

*{
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    user-select: none;
    background: #FFFFFF;
    font-family: 'Abel';
}
a {
    color: inherit;
}
a:hover {
    color:inherit;
    text-decoration: none;
}


/*Shared Styles */
.section {
    padding: 80px 0;
}
.section .section-text {
    text-align: center;
    margin-bottom: 15px;
}
.section .section-text p,
.section .section-text h3 {
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    display: block;
}
.section .section-text h3 {
    color: #2B3A5E;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.35px;
    margin-bottom: 20px;
}
.section .section-text p {
    /* font-size: 18px; */
    color: #3b3b3b;
    font-weight: 300;
}

.section .section-title {
    position: relative;
    text-align: center;
    /* margin-bottom: 15px; */
}

.section .section-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-family: "Kanit";
    font-weight: 200;
    margin-bottom: 0;
}

.section .section-title h2 strong{
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 8px;
}

.section .section-title h2::before {
    display: inline-block;
    content: "";
    height: 2px;
    width: 50px;
    background: #252525;
    margin-right: 10px;
}
.section .section-title h2::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 50px;
    background: #252525;
    margin-left: 10px;
}
.section.dark-section .section-title h2,
.section.dark-section .section-title p  {
    color: #efefef;
}
.section .section-title h2::before,
.section .section-title h2::after{
    background-color: #efefef;
}

.section .section-title .back-title {
    width: 100%;
    opacity: 0.1;
    font-size: 74px;
    position: absolute;
    user-select: text;
    top: -50%;
    font-weight: bold;

}

@media screen and (min-width:1200px ) {
    .cc-container {
        padding: 0 60px;
        /* max-width: initial; */
        max-width: 90%;
    }
}

@media (min-width: 992px){
.cc-container {
    max-width: 98%;
}
}


@media (min-width: 1600px){
    .cc-container {
        max-width: 1420px;
    }
}

@media screen and (max-width:600px) {
    .section .section-text p,
    .section .section-text h3 {
        max-width: 80%!important;
    }
    .section .section-text h3 {
        font-size: 28px;
    }

}
    
.styled-btn {
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 10px 16px;
    overflow: hidden;
    display: inline-block;
    transition: .2s all;
}
.styled-btn.bordered-btn{
    border: 2px solid var(--primary-color);
    padding: 10px 22px;
    color: var(--primary-color);
    font-family: 'Abel';
}

.styled-btn.filled-btn{
    background-color:  var(--primary-color);
    padding: 10px 22px;
    color: #efefef;
    font-family: 'Abel';
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.15);
}

.styled-btn.filled-btn:hover{
    background-color:  var(--primary-hover);    
}
.styled-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}


@media screen and (max-width:1120px) {
    .styled-btn {
        padding: 8px 20px;
    }
}


.card {
    text-align: left;
    background: #fff;
    padding: 50px;
    margin-bottom: 0px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 25px rgba(0,0,0,.1);
    cursor: pointer;
    margin-bottom: 20px;
}

a {
    display: block;
    transition: .2s all;
}
a:hover{
    color: #b8aa83;
}

.separater {
    height: 2px;
    width: 25px;
    background-color: var(--primary-color);
    display: block;
    margin: 20px 0;
}

/* THEME START*/
/* Top Header */
.top-header-outer {
    background: #EEEEEE;
    color: #666;
}
.top-header-outer  {
    padding: 14px 0;
}
.top-header .header-infos  .info-icon{
    margin-right: 5px;
}
.top-header .top-right  a{
    display: inline-block;
    margin-left: 18px;
}
/* Upper Header*/
.upper-header {
    color: #666;
}
.upper-header .search-bar {
    display: flex;
    position: relative;
    border:1px solid #6666664d;
    max-width: 260px;
}
.upper-header .search-bar button {
    background: none;
    border: none;
    outline: none;
    padding: 0 8px;
    color: #858585;
}
.upper-header .search-bar input {
    margin: 0;
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
}

/* bottom-header main-navbar  */
.bottom-header.main-navbar .nav-link {
    padding: 15px 22px;
    transition: .15s;
    color: #252525;
}
.bottom-header.main-navbar .nav-item + .nav-item {
    margin-left: 5px;
} 

.bottom-header.main-navbar .nav-link.active,
.bottom-header.main-navbar .nav-link:hover{
    background: #B8AA83;
    color: #efefef;
}

.bottom-header.main-navbar .navbar {
    border: 0px solid #eaeaea;
    padding: 0;
    border-top-width: 1px;
}


/* services-section */
.services-section .service-item {
    /* width: 18%; */
    border: 1px solid #dfdfdf;
    margin: 20px;
}
.services-section .service-item .service-image img{
 height: 206px;
 width: 100%;
}
.services-section .service-item .service-content {
    padding: 20px 10px;
}
.services-section .service-item .service-content .service-title {
    margin-bottom: 15px;
}
.services-section .service-item .service-content .service-title h3 {
    font-size: 16px;
    font-family: 'Kanit';
    font-weight: 700;
}
.services-section .service-item .service-content .service-link {
    /* transform: translate(22px, -50%); */
    position: absolute;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary-color);
}

/* blocks section  */

.block-section .block-item .block-image img {
    max-height: 580px;
    width: 100%;
}
.block-section .block-item .block-descreption {
    padding-left:69px;
}

.block-section .block-item .block-descreption .block-number {
    font-size: 88px;
    font-weight: 800;
    color: #888888ad;
    /* font-family: 'Arial Black';*/
}
.block-section .block-item .block-descreption .block-title h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: inherit;
    text-transform: none;
    color: #000;
    font-family: 'Abel';
    font-weight: bold;
}
.block-section .block-item .block-descreption .block-excrept{
    font-family: Abel;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    margin: 20px 0;
}
.block-section .block-item .block-image .image-text{
    width: 90%;
    margin-top: -35px;
    padding: 25px 30px;
    background-color: #fff;
    display: block;
    position: relative;
}
.block-section .block-item .block-image .image-text h3{
    font-size: 24px;
}
.block-section .block-left .block-descreption {
    text-align: right;
}

.block-section .block-left .block-descreption .separater,
.block-section .block-left .block-image .image-text{
    margin-left: auto;
}

/* Range Of Service */

.range-section {
    background:  linear-gradient(to right,#000000a6,#000000a6) , url('../img/range.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.range-section .section-content {
    margin-top: 80px;
}
.range-section .range-item {
    color: #efefef;
    margin-bottom: 50px;
}
.range-section .range-item .item-count {
    margin: 0 auto;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}
.range-section .range-item .item-count > *{
    position: relative;
    z-index: 1;
}
.range-section .range-item .item-count i{
    font-size: 38px;
    margin-bottom: 12px;
}
.range-section .range-item  .item-count .item-number{
    font-size: 24px;
    font-family: 'Kanit';
}
.range-section .range-item .item-count::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: var(--primary-color);
    z-index: 0;
    transform: rotate(45deg);
}
.range-section .range-item .item-text {
    margin-top: 30px;
    font-weight: 600;
}
.range-section .section-content {
    text-align: center;
}


/* Grid Gallery */
.gallery-section .grid-gallery {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows:repeat(3,230px);
    grid-template-columns: repeat(4,25%);
}
  
.gallery-section .grid-gallery .grid-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-section .grid-gallery .grid-item-3 {
    grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-section .grid-gallery .grid-item-5 {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gallery-section .grid-gallery .grid-item-7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

@media screen and (max-width:760px){
    .gallery-section .grid-gallery {
        display: block;
    }
    .gallery-section .grid-gallery .grid-item {
        margin: 10px;
    }
    .gallery-section .grid-gallery .grid-item img{
        height: 260px;
    }
}

/* Contact Section */
.contact-section {
    background:  linear-gradient(to right,#000000dc,#000000dc) , url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section .contact-data {
    color: #fff;
}
.contact-section .contact-data .title{
    font-size: 3rem;
    font-weight: bold;
}

.contact-section .contact-form  {
    background: #fff;
}

.contact-section .contact-form {
    padding: 30px 25px;
}
.contact-section .contact-form label {
    font-weight: bold;
}
.contact-section .contact-form input ,
.contact-section .contact-form textarea {
    border: 0px ;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 0;
}
.contact-section .contact-form input:focus,
.contact-section .contact-form textarea:focus{
    outline: none;
    box-shadow: none;
}
.contact-section .contact-form input + span,
.contact-section .contact-form textarea + span {
    overflow: hidden;
    height: 2px;
    margin-top: -2px;
    display: block;
}
.contact-section .contact-form input + span::after,
.contact-section .contact-form textarea + span::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #222;
    display: block;
    transform: translateX(-100%);
    transition: .2s transform;
}
.contact-section .contact-form input:hover + span::after,
.contact-section .contact-form input:focus + span::after ,
.contact-section .contact-form textarea:hover + span::after,
.contact-section .contact-form textarea:focus + span::after {
    transform: translateX(0);
}

/* tabs container */
.tabs-section .nav-pills {
    display: flex;
    margin-bottom: 0!important;
}
.tabs-section .nav-pills li {
    flex: 1;
    border-radius: 0;
    background: var(--primary-color);
}
.tabs-section .nav-pills li+li {
    border-left: 2px solid #efefef;
}
.tabs-section .nav-pills li .nav-link {
    border-radius: 0;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: #efefef;
}
.tabs-section .nav-pills li .nav-link.active {
    background: #f7f7f7;
    color: #232323;
}
.tabs-section .nav-pills li .nav-link:hover{
    color: inherit;
}

.tabs-section .product-item .product-item-icon .inner-img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    height: 80px;
    width: 80px;
}
.tabs-section .product-item .product-item-icon .inner-img img {
    height: 100%;
    width: 100%;
}


.tabs-section .tab-content .tab-image img {
    height: 497px;
}

.tabs-section .tab-content .tab-text  {
    padding:30px;
}
/* product-item-content */