

:root {
    --primary-color:#B8AA83;
    --secondary-color:#666;
    --primary-hover:#ecdaab;
}

*{
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    user-select: none;
    background: #FFFFFF;
    font-family: 'Abel';
}
a {
    color: inherit;
}
a:hover {
    color:inherit;
    text-decoration: none;
}


/*Shared Styles */
.section {
    padding: 80px 0;
}
.section .section-text {
    text-align: center;
    margin-bottom: 15px;
}
.section .section-text p,
.section .section-text h3 {
    max-width: max-content;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    display: block;
}
.section .section-text h3 {
    color: #2B3A5E;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.35px;
    margin-bottom: 20px;
}
.section .section-text p {
    /* font-size: 18px; */
    color: #3b3b3b;
    font-weight: 300;
}

.section .section-title {
    position: relative;
    text-align: center;
    /* margin-bottom: 15px; */
}

.section .section-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-family: "Kanit";
    font-weight: 200;
    margin-bottom: 0;
}

.section .section-title h2 strong{
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 8px;
}

.section .section-title h2::before {
    display: inline-block;
    content: "";
    height: 2px;
    width: 50px;
    background: #252525;
    margin-right: 10px;
}
.section .section-title h2::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 50px;
    background: #252525;
    margin-left: 10px;
}
.section.dark-section .section-title h2,
.section.dark-section .section-title p  {
    color: #efefef;
}
.section .section-title h2::before,
.section .section-title h2::after{
    background-color: #efefef;
}

.section .section-title .back-title {
    width: 100%;
    opacity: 0.1;
    font-size: 74px;
    position: absolute;
    user-select: text;
    top: -50%;
    font-weight: bold;

}

@media screen and (min-width:1200px ) {
    .cc-container {
        padding: 0 60px;
        /* max-width: initial; */
        max-width: 90%;
    }
}

@media (min-width: 992px){
.cc-container {
    max-width: 98%;
}
}


@media (min-width: 1600px){
    .cc-container {
        max-width: 1420px;
    }
}

@media screen and (max-width:600px) {
    .section .section-text p,
    .section .section-text h3 {
        max-width: 80%!important;
    }
    .section .section-text h3 {
        font-size: 28px;
    }

}
    
.styled-btn {
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 10px 16px;
    overflow: hidden;
    display: inline-block;
    transition: .2s all;
}
.styled-btn.bordered-btn{
    border: 2px solid var(--primary-color);
    padding: 10px 22px;
    color: var(--primary-color);
    font-family: 'Abel';
}

.styled-btn.bordered-btn.bordered-dark-btn{
    border: 2px solid #efefef;
    color: #efefef;
    background: transparent;
}
.styled-btn.bordered-btn.bordered-dark-btn:hover{
    background: var(--primary-hover);
    color: #fff;
    border: 2px solid #efefef;
}
.styled-btn.filled-btn{
    background-color:  var(--primary-color);
    padding: 10px 22px;
    color: #efefef;
    font-family: 'Abel';
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.15);
}

.styled-btn.filled-btn:hover{
    background-color:  var(--primary-hover);    
}
.styled-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}


@media screen and (max-width:1120px) {
    .styled-btn {
        padding: 8px 20px;
    }
}


.card {
    text-align: left;
    background: #fff;
    padding: 50px;
    margin-bottom: 0px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 25px rgba(0,0,0,.1);
    cursor: pointer;
    margin-bottom: 20px;
}

a {
    display: block;
    transition: .2s all;
}
a:hover{
    color: #b8aa83;
}

.separater {
    height: 2px;
    width: 25px;
    background-color: var(--primary-color);
    display: block;
    margin: 20px 0;
}

/* THEME START*/
/* Top Header */
.top-header-outer {
    background: #EEEEEE;
    color: #666;
}
.top-header-outer  {
    padding: 14px 0;
}
.top-header .header-infos  .info-icon{
    margin-right: 5px;
}
.top-header .top-right  a{
    display: inline-block;
    margin-left: 18px;
}
/* Upper Header*/
.upper-header {
    color: #666;
}
.upper-header .search-bar {
    display: flex;
    position: relative;
    border:1px solid #6666664d;
    max-width: 260px;
}
.upper-header .search-bar button {
    background: none;
    border: none;
    outline: none;
    padding: 0 8px;
    color: #858585;
}
.upper-header .search-bar input {
    margin: 0;
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
}

/* bottom-header main-navbar  */
.bottom-header.main-navbar{
    margin-bottom: 2px;
}
.bottom-header.main-navbar .nav-link {
    padding: 18px 24px;
    transition: .15s;
    color: #252525;
}
.bottom-header.main-navbar .nav-item + .nav-item {
    margin-left: 5px;
} 

.bottom-header.main-navbar .nav-link.active,
.bottom-header.main-navbar .nav-link:hover{
    background: #B8AA83;
    color: #efefef;
    font-weight: bold;
}

.bottom-header.main-navbar .navbar {
    border: 0px solid #eaeaea;
    padding: 0;
    border-top-width: 1px;
}


/* services-section */
.services-section .service-item {
    /* width: 18%; */
    border: 1px solid #dfdfdf;
    margin: 20px;
}
.services-section .service-item .service-image img{
 height: 206px;
 width: 100%;
}
.services-section .service-item .service-content {
    padding: 20px 10px;
}
.services-section .service-item .service-content .service-title {
    margin-bottom: 15px;
}
.services-section .service-item .service-content .service-title h3 {
    font-size: 16px;
    font-family: 'Kanit';
    font-weight: 700;
}
.services-section .service-item .service-content .service-link {
    /* transform: translate(22px, -50%); */
    position: absolute;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary-color);
}

/* blocks section  */

.block-section .block-item .block-image img {
    max-height: 580px;
    width: 100%;
}
.block-section .block-item .block-descreption {
    padding-left:69px;
}

.block-section .block-item .block-descreption .block-number {
    font-size: 88px;
    font-weight: 800;
    color: #888888ad;
    /* font-family: 'Arial Black';*/
}
.block-section .block-item .block-descreption .block-title h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: inherit;
    text-transform: none;
    color: #000;
    font-family: 'Abel';
    font-weight: bold;
}
.block-section .block-item .block-descreption .block-excrept{
    font-family: Abel;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    margin: 20px 0;
}
.block-section .block-item .block-image .image-text{
    width: 90%;
    margin-top: -35px;
    padding: 25px 30px;
    background-color: #fff;
    display: block;
    position: relative;
}
.block-section .block-item .block-image .image-text h3{
    font-size: 24px;
}
.block-section .block-left .block-descreption {
    text-align: right;
}

.block-section .block-left .block-descreption .separater,
.block-section .block-left .block-image .image-text{
    margin-left: auto;
}

/* Range Of Service */

.range-section {
    background:  linear-gradient(to right,#000000a6,#000000a6) , url('../img/range.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.range-section .section-content {
    margin-top: 80px;
}
.range-section .range-item {
    color: #efefef;
    margin-bottom: 50px;
}
.range-section .range-item .item-count {
    margin: 0 auto;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}
.range-section .range-item .item-count > *{
    position: relative;
    z-index: 1;
}
.range-section .range-item .item-count i{
    font-size: 38px;
    margin-bottom: 12px;
}
.range-section .range-item  .item-count .item-number{
    font-size: 24px;
    font-family: 'Kanit';
}
.range-section .range-item .item-count::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: var(--primary-color);
    z-index: 0;
    transform: rotate(45deg);
}
.range-section .range-item .item-text {
    margin-top: 30px;
    font-weight: 600;
}
.range-section .section-content {
    text-align: center;
}


/* Grid Gallery */
.gallery-section .grid-gallery {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows:repeat(3,230px);
    grid-template-columns: repeat(4,25%);
}
  
.gallery-section .grid-gallery .grid-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-section .grid-gallery .grid-item-3 {
    grid-column-start: 3;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-section .grid-gallery .grid-item-5 {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gallery-section .grid-gallery .grid-item-7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

@media screen and (max-width:760px){
    .gallery-section .grid-gallery {
        display: block;
    }
    .gallery-section .grid-gallery .grid-item {
        margin: 10px;
    }
    .gallery-section .grid-gallery .grid-item img{
        height: 260px;
    }
}

/* Contact Section */
.contact-section {
    background:  linear-gradient(to right,#000000dc,#000000dc) , url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section .contact-data {
    color: #fff;
}
.contact-section .contact-data .title{
    font-size: 3rem;
    font-weight: bold;
}

.contact-section .contact-form  {
    background: #fff;
}

.contact-section .contact-form {
    padding: 30px 25px;
}
.contact-section .contact-form label {
    font-weight: bold;
}
.contact-section .contact-form input ,
.contact-section .contact-form textarea {
    border: 0px ;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 0;
}
.contact-section .contact-form input:focus,
.contact-section .contact-form textarea:focus{
    outline: none;
    box-shadow: none;
}
.contact-section .contact-form input + span,
.contact-section .contact-form textarea + span {
    overflow: hidden;
    height: 2px;
    margin-top: -2px;
    display: block;
}
.contact-section .contact-form input + span::after,
.contact-section .contact-form textarea + span::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #222;
    display: block;
    transform: translateX(-100%);
    transition: .2s transform;
}
.contact-section .contact-form input:hover + span::after,
.contact-section .contact-form input:focus + span::after ,
.contact-section .contact-form textarea:hover + span::after,
.contact-section .contact-form textarea:focus + span::after {
    transform: translateX(0);
}

/* tabs container */
.tabs-section .nav-pills {
    display: flex;
    margin-bottom: 0!important;
}
.tabs-section .nav-pills li {
    flex: 1;
    border-radius: 0;
    background: var(--primary-color);
}
.tabs-section .nav-pills li+li {
    border-left: 2px solid #efefef;
}
.tabs-section .nav-pills li .nav-link {
    border-radius: 0;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: #efefef;
}
.tabs-section .nav-pills li .nav-link.active {
    background: #f7f7f7;
    color: #232323;
}
.tabs-section .nav-pills li .nav-link:hover{
    color: inherit;
}

.tabs-section .product-item .product-item-icon .inner-img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    height: 80px;
    width: 80px;
}
.tabs-section .product-item .product-item-icon .inner-img img {
    height: 100%;
    width: 100%;
}


.tabs-section .tab-content .tab-image img {
    height: 534px;
}

.tabs-section .tab-content .tab-text  {
    padding:30px;
}
.tabs-section .tab-content .tab-text h3{
    margin: 25px 0;
}
.tabs-section .tab-content .tab-text .product-item {
    margin-bottom: 15px;
}
.tabs-section .tab-content .tab-text .product-item .product-item-content h4{
    cursor: pointer;
}
.tabs-section .tab-content .tab-text .product-item .product-item-content span {
    height: 3px;
    width: 42px;
    background: #EEEEEE;
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
}
.tabs-section .tab-content .tab-text .product-item .product-item-content span::after{
    content: "";
    display: block;
    height: 3px;
    background: var(--primary-color);
    transform: translateX(-100%);    
    transition: .2s all;
}
.tabs-section .tab-content .tab-text .product-item .product-item-content h4:hover + span::after{
    transform: translateX(0%); 
}

/* testimonials section */
.testimonials-section {
    background: url('../img/testimonials/bg.jpg');
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding: 0;
}
.testimonials-section .testi-text {
    background: var(--primary-color);
    color: #efefef;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    padding-right: 35px!important;
}
.testimonials-section .testi-text .inner {
    max-width: 70%;
}
.testimonials-section .testi-images {
    background-color: rgba(0, 0, 0, 0.571);
    display: flex;
    align-items: center;
}
.testimonials-section .testi-images ul{
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin-left: 5%;
}
.testimonials-section .testi-images ul li{
    display: inline-block;
    width: 25%;
    padding: 15px;
    /* width: 20%; */
    text-align: center;
    flex: 0 0 25%;
    cursor: pointer;
}
.testimonials-section .testi-images ul li img{
    height: 100px;
    width: 100px;    
    border-radius: 6px;
}
.testimonials-section .testi-text,
.testimonials-section .testi-images{
    padding: 80px 0;
}
.testimonials-section .testi-images ul li.active img{
    border: 4px solid var(--primary-color);
}
.testimonials-section .testi-text h3 {
    font-weight: bold;
    margin-bottom: 18px;
}
.testimonials-section .testi-text h6 {
    font-weight: bold;
    margin-top: 20px;
}


/* best of section*/
.bestof-section .according .card-header {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.bestof-section .according .card-header h5{
    display: inline-block;
}
.bestof-section .according .card-header  button{    
    color: #333;
    font-weight: bold;
    font-size: 22px;
    padding-left: 0;    
    text-decoration: none;
}
.bestof-section .according .card-header::before{
    content: "+";
    height: 30px;
    width: 30px;
    background: #efefef;
    display: inline-block;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 10px;
}
.bestof-section .according .card-body {
    padding-left: 40px;
}
.bestof-section .according .card-header button:hover{
    color: var(--primary-hover);
    text-decoration: none;
}
.bestof-section .according .card-header[aria-expanded="true"]::before {
    content: "-";
    background-color: var(--primary-color);
    color: #fff;
}
.bestof-section .according .card-header[aria-expanded="true"]  button {
    color: var(--primary-color);
}

.bestof-section .card-holder .card-item {
    padding: 10px;
}
.bestof-section .card-holder .card-item .card-inner {
    border: 1px solid rgb(0 0 0 / 11%);
    padding: 50px 15px;
    position: relative;
    height: 180px;
}

.bestof-section .card-holder .card-item .card-inner .card-heading {
    text-align: center;
    margin-bottom: 0;
}

.bestof-section .card-holder .card-item .card-inner .card-icon {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.bestof-section .card-holder .card-item .card-inner .card-face1,
.bestof-section .card-holder .card-item .card-inner .card-face2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
    padding: 50px 15px;  
}
.bestof-section .card-holder .card-item .card-inner .card-face2 p{
    text-align: center;
}
.bestof-section .card-holder .card-item .card-inner{
    perspective: 800px;
}
.bestof-section .card-holder .card-item .card-inner{
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.bestof-section .card-holder .card-item .card-inner:hover .card-face1{
    transform: rotateY(-180deg);
}
.bestof-section .card-holder .card-item .card-inner:hover .card-face2{
    transform: rotateY(0deg);
}
.bestof-section .card-holder .card-item .face {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.bestof-section .card-holder .card-item .card-inner .card-face1 {
    transform: rotateY(0deg);
} 

.bestof-section .card-holder .card-item .card-inner .card-face2 {
    transform: rotateY(180deg); 
}

/* contact-info-section */

.contact-info-section .contact-item .inner {
    background-color: var(--primary-color);
    padding: 15px;
    padding-bottom: 0;
    color: #efefef;
    position: relative;
}

.contact-info-section .contact-item .inner .content {
    border: 2px solid #ffffff52;
    padding: 20px 10px;
    padding-bottom: 35px;
}
.contact-info-section .contact-item h5{
    font-weight: bold;
}

.contact-info-section .contact-item .inner .card-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #fff;    
    color: var(--primary-color);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


/* Footer Section */
.footer-bar {
    background: var(--primary-color);
}
.footer-bar h5 {
    margin-bottom: 0;
    color: #efefef;
}


/* Footer Section */

.footer {
    background: #323232;
    color: #efefef;
    padding: 35px 0;
}

.footer {
    background: #323232;
    color: #efefef;
    padding: 35px 0;
}


.footer p {
    color: #c9c9c9;
}


.footer ul {
    list-style-type: none;
}
.footer ul li {
    display: inline-block;
    font-size: 20px;
    color: #adadad;
}
.footer ul li +li {
    display: inline-block;
    margin-left: 10px;
}

.footer .bordered-btn {
    text-transform: capitalize;
}

.footer .footer-actions a {
    display: inline-block;
    margin-left: 18px;
}










/*  slideshow */




/* MAIN SLIDER */

.slider-item {
    min-height: 90vh;
    background-color: #3b3b3b;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.slider-item .slide-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    /* opacity: 0; */
    font-weight: 700;
}
.slider-item .slide-sub-title {
    color: #dadada;
    font-size: 32px;
    font-family: 'Kanit';
}
.slider-item .slide-title span {
    font-weight: 800;
}

.slider-item .slide-list ul li  {
    display: inline-block;
    color: #efefef;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
    /* opacity: 0; */
}
.slider-item .slide-list ul li  +li {
    margin-left: 20px;
}
.slider-item .slide-list ul li::before{
    content: "";
    content: "\f058";
    /* height: 15px;
    width: 15px; */
    /* background: #efefef; */
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
}

@media screen and (max-width:426px) {
    .slider-item .slide-title{
        font-size: 40px;
    }
}


.slider-carousel .owl-nav button.owl-next, 
.slider-carousel .owl-nav button.owl-prev{
    width: 55px;
    /* height: 55px; */
    /* line-height: 40px; */
    font-size: 66px;
    color: #fff;
    border-radius: 0;
    /* background-color: #fff; */
    overflow: hidden;
    transition: .2s all;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}
.slider-carousel .owl-nav button:hover{
    color: #eac319d9!important;
}
.slider-carousel .owl-nav button.owl-prev,
.slider-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    margin: 0;
}
.slider-carousel .owl-nav button.owl-prev{
    left: 0;
}
.slider-carousel .owl-nav button.owl-next{
    right: 0;
}

/* slider animatins */
.owl-animated-in.active .slide-title,
.active .slide-title {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.owl-animated-in.active .slide-sub-title,
.active .slide-sub-title {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
}

.owl-animated-in.active .slide-list ul li:nth-child(1),
.active .slide-list ul li:nth-child(1)  {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
}
.owl-animated-in.active .slide-list ul li:nth-child(2),
.active .slide-list ul li:nth-child(2)  {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}

.owl-animated-in.active .slide-list ul li:nth-child(3) ,
.active .slide-list ul li:nth-child(3) {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 2.8s;
}
.owl-animated-in.active .slide-list ul li:nth-child(4) ,
.active .slide-list ul li:nth-child(4)  {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}



@keyframes fadeDown {
    0% {
        filter: blur(10px) ;
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        filter: blur(0) ;
        opacity: 1;
        transform: translateY(0%);
    }
}

.slider-content.container-fluid {
    background-color: #000000a8;
}

.item.item2 .slider-item .slide-title {
    background: #A05909;
    max-width: max-content;
    margin: 0 auto;
    padding: 5px 20px;
}
.item.item2 .slider-item .slide-sub-title {
    background: #E1E0DF;
    color: #323232;
    max-width: max-content;
    margin: 0 auto;
    padding: 5px 20px;
    margin-top: 8px;
    font-size: 24px;
}
.item.item2 .slider-item .styled-btn {
    margin-top: 15px;
    background: #111;
    color: #E1E0DF;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 16px;
}
.item.item2 .slider-item .styled-btn:hover{
    background: #333;
}
.owl-animated-in.active .item.item2 .slide-title,
.active .slide-title {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
}
.owl-animated-in.active .item.item2 .slide-sub-title,
.active .slide-sub-title {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.owl-animated-in.active .item.item2 .styled-btn,
.active .styled-btn  {
    opacity: 0;
    animation: fadeDown .7s ;
    animation-fill-mode: forwards;
    animation-delay: 1.4s; 
}